@model IEnumerable<SmartB.UI.Models.ProductMostBuy>

@if (Model != null)
{
    <h4>Sản phẩm ưa thích</h4>
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Tên sản phẩm</th>
                <th>Giá sản phẩm (nghìn đồng)</th>
                <th>Thao tác</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                SmartB.UI.Models.EntityFramework.SmartBuyEntities db = new SmartB.UI.Models.EntityFramework.SmartBuyEntities();
                var productId = item.Product.Id;
                SmartB.UI.Models.EntityFramework.ProductAttribute proAtt = (from p in db.ProductAttributes
                                                                            where p.ProductId == productId
                                                                            group p by p.ProductId into grp
                                                                            select grp.OrderByDescending(o => o.LastUpdatedTime).FirstOrDefault()).FirstOrDefault();
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Product.Name)
                        @{                
                var productName = item.Product.Name;
                        }

                    </td>

                    <td>@proAtt.MinPrice - @proAtt.MaxPrice
                        @{
                var minPrice = proAtt.MinPrice;
                var maxPrice = proAtt.MaxPrice;
                        }
                    </td>
                    <td>
                        <div class="metro">
                            <button class="success" onclick="addToCart('@productId')">
                                <i class="icon-plus-2 on-left"></i>
                                Thêm
                            </button>

                            <button class="editDialog inverse">
                                <i class="icon-dollar on-left"></i>
                                Đề xuất giá                                
                            </button>
                        </div>

                        <script>

                            $(".editDialog").on("click", function (e) { // e.preventDefault(); use this or return false
                                $.Dialog({
                                    overlay: true,
                                    shadow: true,
                                    flat: true,
                                    icon: '<i class="icon-dollar-2 on-left"></i>',
                                    title: 'Đề xuất giá',
                                    content: '',
                                    padding: 10,
                                    onShow: function (_dialog) {
                                        var content = ["<iframe id='iframeId' width='420' height='260' scrolling='no' src='/Product/ProposeProductPrice/" + @productId + "' frameborder='0'></iframe>"].join('');
                                        $.Dialog.content(content);
                                        $.Metro.initInputs();
                                    }
                                });
                                return true;
                            });


                        </script>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}