@using SmartB.UI.Models.EntityFramework
@model User

@{
    ViewBag.Title = "Gợi ý";
    var result = TempData["RouteResult"] as List<KeyValuePair<Product, Market>>;
    int counter = 0;
}

@section headScript
{
    <style>
        #map-canvas
        {
            height: 600px;
            width: 800px;
            margin: 0px;
            padding: 0px;
        }
    </style>
    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAmQi6XuUHARe_gzLWFpKWzZSu34ZaWv1Q&sensor=false&libraries=places"></script>

}

<h2>Gợi ý</h2>

@if (result != null)
{
    <table class="table bordered hovered">
        <thead>
            <tr>
                <th>STT</th>
                <th>Tên sản phẩm</th>
                <th>Tên chợ</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var pair in result)
            {
                counter++;
                <tr>
                    <td>@counter</td>
                    <td>@pair.Key.Name</td>
                    <td>@pair.Value.Name</td>
                </tr>
            }
        </tbody>
    </table>
}

<div id="map-canvas" />
