@{
    ViewBag.Title = "AccountDetails";
}

<h2>Thông tin tài khoản</h2>
<form>
    <label>Tên tài khoản</label>
    <div class="input-control text">
        <input type="text" value="" placeholder="user01" disabled />
        <button class="btn-clear"></button>
    </div>
    <label>Mật khẩu mới</label>
    <div class="input-control text">
        <input type="password" value="" placeholder="" />
        <button class="btn-clear"></button>
    </div>
    <label>Xác nhận mật khẩu</label>
    <div class="input-control text">
        <input type="password" value="" placeholder="" />
        <button class="btn-clear"></button>
    </div>
    <hr />
    <label>Tên đầy đủ</label>
    <div class="input-control text">
        <input type="text" value="" placeholder="Sergey Pimenov" />
        <button class="btn-clear"></button>
    </div>
    <label>Địa chỉ mail</label>
    <div class="input-control text">
        <input type="email" data-transform="input-control" placeholder="user01@gmail.com" />
        <button class="btn-clear"></button>
    </div>
    <label>Số điện thoại</label>
    <div class="input-control text">
        <input type="tel" data-transform="input-control" placeholder="0123456789" />
        <button class="btn-clear"></button>
    </div>
    <button class="primary">
        <i class="icon-checkmark"></i>
        Lưu
    </button>
    <button class="bg-gray fg-white">
        <i class="icon-undo"></i>
        Làm lại
    </button>
</form>
