@{
    ViewBag.Title = "Lịch sử mua sắm";
}
@model IEnumerable<SmartB.UI.Models.EntityFramework.History>
<h2>Lịch sử mua sắm</h2>
<table class="table bordered hovered">
    <thead>
        <tr>
            <th>STT</th>
            <th>Ngày mua</th>
            <th>Sản phẩm</th>
            <th>Thao tác</th>
        </tr>
    </thead>
    <tbody>
        @{var i = 0;}
        @foreach (var item in Model)
        {
            
            <tr>
                <td>@{
            i++;
                }
                    @i
                </td>
                <td>
                    @{
            var historyID = item.Id;
            var buyTime = item.BuyTime;
            string buytimeFormat = String.Format("{0:dd/MM/yyyy}", buyTime);
                    }
                    @buytimeFormat
                </td>
                <td>@Html.DisplayFor(modelItem => item.Product.Name)</td>
                <td>                   
                        <button onclick="deleteItemHistory('@historyID')">
                            <i class="icon-cancel-2"></i>
                            Xóa
                        </button>
                        
                </td>
            </tr>
        }

    </tbody>
</table>

