USE [master]
GO
/****** Object:  Database [SmartBuy]    Script Date: 03/19/2014 15:02:52 ******/
CREATE DATABASE [SmartBuy] ON  PRIMARY 
( NAME = N'SmartBuy', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLSERVER2008\MSSQL\DATA\SmartBuy.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'SmartBuy_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLSERVER2008\MSSQL\DATA\SmartBuy_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SmartBuy].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SmartBuy]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 03/19/2014 15:02:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Role] ON
INSERT [dbo].[Role] ([Id], [Name]) VALUES (1, N'admin')
INSERT [dbo].[Role] ([Id], [Name]) VALUES (2, N'staff')
INSERT [dbo].[Role] ([Id], [Name]) VALUES (3, N'member')
SET IDENTITY_INSERT [dbo].[Role] OFF
/****** Object:  Table [dbo].[Market]    Script Date: 03/19/2014 15:02:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Market](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Address] [nvarchar](200) NULL,
	[Latitude] [varchar](20) NULL,
	[Longitude] [varchar](20) NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Market] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Market] ON
INSERT [dbo].[Market] ([Id], [Name], [Address], [Latitude], [Longitude], [IsActive]) VALUES (1, N'Chợ Gò vấp', N'Phường 4, Q.Gò vấp, Ho Chi Minh City', N'10.8234919', N'106.6872132', 1)
INSERT [dbo].[Market] ([Id], [Name], [Address], [Latitude], [Longitude], [IsActive]) VALUES (2, N'BigC Gò Vấp', N'Phạm Ngũ Lão, Phường 3, Gò Vấp', N'10.8257002', N'106.6801375', 1)
INSERT [dbo].[Market] ([Id], [Name], [Address], [Latitude], [Longitude], [IsActive]) VALUES (3, N'Chợ Bình Tây', N'24 NGUYỄN HỮU THẬN, P.2, Q.6, TP. HCM', N'10.7493304', N'106.651098', 1)
SET IDENTITY_INSERT [dbo].[Market] OFF
/****** Object:  Table [dbo].[LogFile]    Script Date: 03/19/2014 15:02:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LogFile](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FileName] [varchar](200) NULL,
	[CreatedTime] [datetime] NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_LogFile] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Product]    Script Date: 03/19/2014 15:02:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](300) NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Product] ON
INSERT [dbo].[Product] ([Id], [Name], [IsActive]) VALUES (1, N'thóc thường tẻ', 1)
INSERT [dbo].[Product] ([Id], [Name], [IsActive]) VALUES (2, N'Gạo trắng thường', 1)
INSERT [dbo].[Product] ([Id], [Name], [IsActive]) VALUES (3, N'Gạo thơm Chợ Đào', 1)
GO
print 'Processed 100 total records'
SET IDENTITY_INSERT [dbo].[Product] OFF
/****** Object:  Table [dbo].[ParseInfo]    Script Date: 03/19/2014 15:02:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ParseInfo](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MarketId] [int] NULL,
	[ParseLink] [nvarchar](500) NOT NULL,
	[ProductNameXpath] [nvarchar](300) NULL,
	[PriceXpath] [nvarchar](300) NULL,
	[PagingXpath] [nvarchar](300) NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_ParseInfo] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MarketDistance]    Script Date: 03/19/2014 15:02:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MarketDistance](
	[FromMarket] [int] NOT NULL,
	[ToMarket] [int] NOT NULL,
	[Distance] [float] NULL,
 CONSTRAINT [PK_MarketDistance] PRIMARY KEY CLUSTERED 
(
	[FromMarket] ASC,
	[ToMarket] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[MarketDistance] ([FromMarket], [ToMarket], [Distance]) VALUES (1, 2, 0.81085663058798962)
INSERT [dbo].[MarketDistance] ([FromMarket], [ToMarket], [Distance]) VALUES (1, 3, 9.1413814014017021)
INSERT [dbo].[MarketDistance] ([FromMarket], [ToMarket], [Distance]) VALUES (1, 4, 5.7949275561894691)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
GO
print 'Processed 600 total records'
GO
print 'Processed 700 total records'
GO
print 'Processed 800 total records'
GO
print 'Processed 900 total records'
GO
print 'Processed 1000 total records'
GO
print 'Processed 1100 total records'
GO
print 'Processed 1200 total records'
GO
print 'Processed 1300 total records'
GO
print 'Processed 1400 total records'
GO
print 'Processed 1500 total records'
GO
print 'Processed 1600 total records'
/****** Object:  Table [dbo].[ProductAttribute]    Script Date: 03/19/2014 15:02:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductAttribute](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NOT NULL,
	[MinPrice] [int] NULL,
	[MaxPrice] [int] NULL,
	[LastUpdatedTime] [datetime] NULL,
 CONSTRAINT [PK_ProductAttribute] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ProductAttribute] ON
INSERT [dbo].[ProductAttribute] ([Id], [ProductId], [MinPrice], [MaxPrice], [LastUpdatedTime]) VALUES (1, 1, 13, 40, CAST(0x0000A2F000ACB7CD AS DateTime))
INSERT [dbo].[ProductAttribute] ([Id], [ProductId], [MinPrice], [MaxPrice], [LastUpdatedTime]) VALUES (2, 2, 4, 31, CAST(0x0000A2F000ACB7E4 AS DateTime))
INSERT [dbo].[ProductAttribute] ([Id], [ProductId], [MinPrice], [MaxPrice], [LastUpdatedTime]) VALUES (3, 3, 9, 41, CAST(0x0000A2F000ACB7E9 AS DateTime))
GO
print 'Processed 100 total records'
SET IDENTITY_INSERT [dbo].[ProductAttribute] OFF
/****** Object:  Table [dbo].[Dictionary]    Script Date: 03/19/2014 15:02:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dictionary](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](300) NULL,
	[ProductId] [int] NULL,
 CONSTRAINT [PK_Dictionary] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Dictionary] ON
INSERT [dbo].[Dictionary] ([Id], [Name], [ProductId]) VALUES (1, N'thóc thường tẻ', 1)
INSERT [dbo].[Dictionary] ([Id], [Name], [ProductId]) VALUES (2, N'Gạo trắng thường', 2)
INSERT [dbo].[Dictionary] ([Id], [Name], [ProductId]) VALUES (3, N'Gạo thơm Chợ Đào', 3)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
SET IDENTITY_INSERT [dbo].[Dictionary] OFF
/****** Object:  Table [dbo].[User]    Script Date: 03/19/2014 15:02:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[User](
	[Username] [varchar](50) NOT NULL,
	[Password] [varchar](20) NOT NULL,
	[RoleId] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[User] ([Username], [Password], [RoleId], [IsActive]) VALUES (N'acam37', N'123456', 3, 1)
INSERT [dbo].[User] ([Username], [Password], [RoleId], [IsActive]) VALUES (N'AnhTriet', N'123456', 1, 1)
INSERT [dbo].[User] ([Username], [Password], [RoleId], [IsActive]) VALUES (N'member01', N'123456', 3, 1)
/****** Object:  Table [dbo].[SellProduct]    Script Date: 03/19/2014 15:02:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SellProduct](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MarketId] [int] NULL,
	[ProductId] [int] NULL,
	[SellPrice] [int] NULL,
	[LastUpdatedTime] [datetime] NOT NULL,
 CONSTRAINT [PK_SellProduct] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[SellProduct] ON
INSERT [dbo].[SellProduct] ([Id], [MarketId], [ProductId], [SellPrice], [LastUpdatedTime]) VALUES (1, 1, 1, 20, CAST(0x0000A2F000ACB741 AS DateTime))
INSERT [dbo].[SellProduct] ([Id], [MarketId], [ProductId], [SellPrice], [LastUpdatedTime]) VALUES (2, 1, 2, 11, CAST(0x0000A2F000ACB7E2 AS DateTime))
INSERT [dbo].[SellProduct] ([Id], [MarketId], [ProductId], [SellPrice], [LastUpdatedTime]) VALUES (3, 1, 3, 21, CAST(0x0000A2F000ACB7E8 AS DateTime))
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
GO
print 'Processed 600 total records'
GO
print 'Processed 700 total records'
GO
print 'Processed 800 total records'
GO
print 'Processed 900 total records'
GO
print 'Processed 1000 total records'
GO
print 'Processed 1100 total records'
GO
print 'Processed 1200 total records'
GO
print 'Processed 1300 total records'
GO
print 'Processed 1400 total records'
GO
print 'Processed 1500 total records'
GO
print 'Processed 1600 total records'
GO
print 'Processed 1700 total records'
GO
print 'Processed 1800 total records'
GO
print 'Processed 1900 total records'
GO
print 'Processed 2000 total records'
GO
print 'Processed 2100 total records'
GO
print 'Processed 2200 total records'
GO
print 'Processed 2300 total records'
GO
print 'Processed 2400 total records'
GO
print 'Processed 2500 total records'
GO
print 'Processed 2600 total records'
GO
print 'Processed 2700 total records'
GO
print 'Processed 2800 total records'
GO
print 'Processed 2900 total records'
GO
print 'Processed 3000 total records'
GO
print 'Processed 3100 total records'
GO
print 'Processed 3200 total records'
GO
print 'Processed 3300 total records'
GO
print 'Processed 3400 total records'
SET IDENTITY_INSERT [dbo].[SellProduct] OFF
/****** Object:  Table [dbo].[UserPrice]    Script Date: 03/19/2014 15:02:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[UserPrice](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](50) NULL,
	[MarketId] [int] NULL,
	[ProductId] [int] NULL,
	[UpdatedPrice] [int] NULL,
	[LastUpdatedTime] [datetime] NULL,
 CONSTRAINT [PK_UserPrice] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Profile]    Script Date: 03/19/2014 15:02:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Profile](
	[Username] [varchar](50) NOT NULL,
	[FirstRoute] [nvarchar](300) NULL,
	[FirstMarkets] [nvarchar](100) NULL,
	[FirstRouteName] [nvarchar](100) NULL,
	[SecondRoute] [nvarchar](300) NULL,
	[SecondMarkets] [nvarchar](100) NULL,
	[SecondRouteName] [nvarchar](100) NULL,
	[ThirdRoute] [nvarchar](300) NULL,
	[ThirdMarkets] [nvarchar](100) NULL,
	[ThirdRouteName] [nvarchar](100) NULL,
 CONSTRAINT [PK_Profile] PRIMARY KEY CLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Profile] ([Username], [FirstRoute], [FirstMarkets], [FirstRouteName], [SecondRoute], [SecondMarkets], [SecondRouteName], [ThirdRoute], [ThirdMarkets], [ThirdRouteName]) VALUES (N'acam37', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
/****** Object:  Table [dbo].[History]    Script Date: 03/19/2014 15:02:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[History](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](50) NOT NULL,
	[BuyTime] [datetime] NOT NULL,
 CONSTRAINT [PK_History] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[History] ON
INSERT [dbo].[History] ([Id], [Username], [BuyTime]) VALUES (1, N'acam37', CAST(0x0000A2EC00000000 AS DateTime))
INSERT [dbo].[History] ([Id], [Username], [BuyTime]) VALUES (2, N'acam37', CAST(0x0000A2ED00000000 AS DateTime))
INSERT [dbo].[History] ([Id], [Username], [BuyTime]) VALUES (3, N'acam37', CAST(0x0000A2EE00000000 AS DateTime))
SET IDENTITY_INSERT [dbo].[History] OFF
/****** Object:  Table [dbo].[HistoryDetail]    Script Date: 03/19/2014 15:02:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HistoryDetail](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[HistoryId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[MinPrice] [int] NULL,
	[MaxPrice] [int] NULL,
 CONSTRAINT [PK_HistoryDetail] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[HistoryDetail] ON
INSERT [dbo].[HistoryDetail] ([Id], [HistoryId], [ProductId], [MinPrice], [MaxPrice]) VALUES (1, 1, 9, 203, 250)
INSERT [dbo].[HistoryDetail] ([Id], [HistoryId], [ProductId], [MinPrice], [MaxPrice]) VALUES (2, 1, 6, 73, 120)
INSERT [dbo].[HistoryDetail] ([Id], [HistoryId], [ProductId], [MinPrice], [MaxPrice]) VALUES (3, 1, 38, 26, 70)
SET IDENTITY_INSERT [dbo].[HistoryDetail] OFF
/****** Object:  ForeignKey [FK_ParseInfo_Market]    Script Date: 03/19/2014 15:02:53 ******/
ALTER TABLE [dbo].[ParseInfo]  WITH CHECK ADD  CONSTRAINT [FK_ParseInfo_Market] FOREIGN KEY([MarketId])
REFERENCES [dbo].[Market] ([Id])
GO
ALTER TABLE [dbo].[ParseInfo] CHECK CONSTRAINT [FK_ParseInfo_Market]
GO
/****** Object:  ForeignKey [FK_MarketDistance_Market]    Script Date: 03/19/2014 15:02:53 ******/
ALTER TABLE [dbo].[MarketDistance]  WITH CHECK ADD  CONSTRAINT [FK_MarketDistance_Market] FOREIGN KEY([FromMarket])
REFERENCES [dbo].[Market] ([Id])
GO
ALTER TABLE [dbo].[MarketDistance] CHECK CONSTRAINT [FK_MarketDistance_Market]
GO
/****** Object:  ForeignKey [FK_ProductAttribute_Product]    Script Date: 03/19/2014 15:02:53 ******/
ALTER TABLE [dbo].[ProductAttribute]  WITH CHECK ADD  CONSTRAINT [FK_ProductAttribute_Product] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Product] ([Id])
GO
ALTER TABLE [dbo].[ProductAttribute] CHECK CONSTRAINT [FK_ProductAttribute_Product]
GO
/****** Object:  ForeignKey [FK_Dictionary_Product]    Script Date: 03/19/2014 15:02:53 ******/
ALTER TABLE [dbo].[Dictionary]  WITH CHECK ADD  CONSTRAINT [FK_Dictionary_Product] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Product] ([Id])
GO
ALTER TABLE [dbo].[Dictionary] CHECK CONSTRAINT [FK_Dictionary_Product]
GO
/****** Object:  ForeignKey [FK_User_Role]    Script Date: 03/19/2014 15:02:53 ******/
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Role] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Role] ([Id])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Role]
GO
/****** Object:  ForeignKey [FK_SellProduct_Market]    Script Date: 03/19/2014 15:02:53 ******/
ALTER TABLE [dbo].[SellProduct]  WITH CHECK ADD  CONSTRAINT [FK_SellProduct_Market] FOREIGN KEY([MarketId])
REFERENCES [dbo].[Market] ([Id])
GO
ALTER TABLE [dbo].[SellProduct] CHECK CONSTRAINT [FK_SellProduct_Market]
GO
/****** Object:  ForeignKey [FK_SellProduct_Product]    Script Date: 03/19/2014 15:02:53 ******/
ALTER TABLE [dbo].[SellProduct]  WITH CHECK ADD  CONSTRAINT [FK_SellProduct_Product] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Product] ([Id])
GO
ALTER TABLE [dbo].[SellProduct] CHECK CONSTRAINT [FK_SellProduct_Product]
GO
/****** Object:  ForeignKey [FK_UserPrice_Market]    Script Date: 03/19/2014 15:02:53 ******/
ALTER TABLE [dbo].[UserPrice]  WITH CHECK ADD  CONSTRAINT [FK_UserPrice_Market] FOREIGN KEY([MarketId])
REFERENCES [dbo].[Market] ([Id])
GO
ALTER TABLE [dbo].[UserPrice] CHECK CONSTRAINT [FK_UserPrice_Market]
GO
/****** Object:  ForeignKey [FK_UserPrice_Product]    Script Date: 03/19/2014 15:02:53 ******/
ALTER TABLE [dbo].[UserPrice]  WITH CHECK ADD  CONSTRAINT [FK_UserPrice_Product] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Product] ([Id])
GO
ALTER TABLE [dbo].[UserPrice] CHECK CONSTRAINT [FK_UserPrice_Product]
GO
/****** Object:  ForeignKey [FK_UserPrice_User]    Script Date: 03/19/2014 15:02:53 ******/
ALTER TABLE [dbo].[UserPrice]  WITH CHECK ADD  CONSTRAINT [FK_UserPrice_User] FOREIGN KEY([Username])
REFERENCES [dbo].[User] ([Username])
GO
ALTER TABLE [dbo].[UserPrice] CHECK CONSTRAINT [FK_UserPrice_User]
GO
/****** Object:  ForeignKey [FK_Profile_User]    Script Date: 03/19/2014 15:02:53 ******/
ALTER TABLE [dbo].[Profile]  WITH CHECK ADD  CONSTRAINT [FK_Profile_User] FOREIGN KEY([Username])
REFERENCES [dbo].[User] ([Username])
GO
ALTER TABLE [dbo].[Profile] CHECK CONSTRAINT [FK_Profile_User]
GO
/****** Object:  ForeignKey [FK_History_User]    Script Date: 03/19/2014 15:02:53 ******/
ALTER TABLE [dbo].[History]  WITH CHECK ADD  CONSTRAINT [FK_History_User] FOREIGN KEY([Username])
REFERENCES [dbo].[User] ([Username])
GO
ALTER TABLE [dbo].[History] CHECK CONSTRAINT [FK_History_User]
GO
/****** Object:  ForeignKey [FK_HistoryDetail_History]    Script Date: 03/19/2014 15:02:53 ******/
ALTER TABLE [dbo].[HistoryDetail]  WITH CHECK ADD  CONSTRAINT [FK_HistoryDetail_History] FOREIGN KEY([HistoryId])
REFERENCES [dbo].[History] ([Id])
GO
ALTER TABLE [dbo].[HistoryDetail] CHECK CONSTRAINT [FK_HistoryDetail_History]
GO
/****** Object:  ForeignKey [FK_HistoryDetail_Product]    Script Date: 03/19/2014 15:02:53 ******/
ALTER TABLE [dbo].[HistoryDetail]  WITH CHECK ADD  CONSTRAINT [FK_HistoryDetail_Product] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Product] ([Id])
GO
ALTER TABLE [dbo].[HistoryDetail] CHECK CONSTRAINT [FK_HistoryDetail_Product]
GO
