@{
    ViewBag.Title = "BuyingHistory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model PagedList.IPagedList<SmartB.UI.Models.EntityFramework.History>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />


<h2>Lịch sử mua sắm 30 ngày gần nhất</h2>
<table class="table bordered hovered">
    <thead>
        <tr>            
            <th>Ngày mua</th>
            <th>Thao tác</th>
        </tr>
    </thead>
    <tbody>
       
        @foreach (var item in Model)
        {
            
            <tr>                
                <td>
                    @{
            var historyID = item.Id;
            var buyTime = item.BuyTime;
            string buytimeFormat = String.Format("{0:dd/MM/yyyy}", buyTime);
            
                    }
                    @buytimeFormat
                </td>

                <td>
                    <a href="@Url.Action("BuyingHistoryDetail", "History", new { id = @historyID})">
                        <button>
                            <i class="icon-clipboard-2"></i>
                            Chi tiết
                        </button>
                    </a>
                    
                </td>
            </tr>
        }

    </tbody>
</table>

<br />
Trang: @Html.PagedListPager(Model, page=>Url.Action("BuyingHistory", new {page}), PagedListRenderOptions.OnlyShowFivePagesAtATime)

