@model IEnumerable<SmartB.UI.Models.ProductMostBuy>

@if (Model != null)
{
    <h2>Sản phẩm ưa thích</h2>
    <table class="table bordered hovered">
        <thead>
            <tr>
                <th>Tên sản phẩm</th>
                <th>Giá sản phẩm (nghìn đồng)</th>
                <th>Thao tác</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                SmartB.UI.Models.EntityFramework.SmartBuyEntities db = new SmartB.UI.Models.EntityFramework.SmartBuyEntities();
                var productId = item.Product.Id;
                SmartB.UI.Models.EntityFramework.ProductAttribute proAtt = (from p in db.ProductAttributes
                                                                            where p.ProductId == productId
                                                                            group p by p.ProductId into grp
                                                                            select grp.OrderByDescending(o => o.LastUpdatedTime).FirstOrDefault()).FirstOrDefault();
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Product.Name)
                        @{                
                var productName = item.Product.Name;
                        }

                    </td>

                    <td>@proAtt.MinPrice - @proAtt.MaxPrice
                        @{
                var minPrice = proAtt.MinPrice;
                var maxPrice = proAtt.MaxPrice;
                        }
                    </td>
                    <td>
                        <button onclick="addCarttoSession('@productId','@productName','@minPrice','@maxPrice')">
                            <i class="icon-plus-2 on-left"></i>
                            Thêm
                        </button>
                        <button class="editDialog">
                            <i class="icon-dollar-2 on-left"></i>
                            Đề xuất giá                                
                        </button>
                        <script>

                            $(".editDialog").on("click", function (e) { // e.preventDefault(); use this or return false
                                $.Dialog({
                                    overlay: true,
                                    shadow: true,
                                    flat: true,
                                    icon: '<i class="icon-dollar-2 on-left"></i>',
                                    title: 'Đề xuất giá',
                                    content: '',
                                    padding: 10,
                                    onShow: function (_dialog) {
                                        // var btnSave = "<button class='primary' id='btnSaveUserPrice' onclick=\"saveUserPrice('@productId');$.Dialog.close();\"><i class='icon-box-add'></i> Lưu lại</button>";
                                    var content = ["<iframe id='iframeId' width='420' height='260' scrolling='no' src='/Product/ProposeProductPrice/" + @productId + "' frameborder='0'></iframe>"].join('');
                                    //document.getElementById("iframeId").innerHTML = btnSave;
                                    $.Dialog.content(content);
                                    $.Metro.initInputs();
                                }
                            });
                            return true;
                        });


                        </script>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}